{{- if .Values.dapr.enabled }}
apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: {{ include "todo.fullname" . }}-dapr-config
spec:
  tracing:
    samplingRate: "1"
    zipkin:
      endpointAddress: "http://zipkin.default:9411/api/v1/spans"
  metric:
    enabled: true
  httpPipeline:
    handlers: []
  features:
    - name: AppHealthCheck
      enabled: true
  secrets:
    scopes:
    - storeName: kubernetes
      defaultAccess: allow
{{- end }}